.legend {
    color: white;
    max-width: 600px;
    margin: 10px auto;
    .location {
        display: inline-block;
        vertical-align: top;
        width: 49%;
        text-align: left;
    }
}
