.select-list {
    max-width: 400px;
    margin: 20px auto;
    
    @include mq($bp-mobile) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.select-field {
    display: inline-block;
    vertical-align: middle;
    margin: 12px 5px;
    @include mq($bp-mobile) {
        margin: 0;
    }
    label {
        background-color: whitesmoke;
        border-radius: 2px;
        padding: 5px 10px;
        input {
            margin-right: 1em;
        }
    }
}


.sort-select {
    h4 { 
        color: whitesmoke;
    }
}
